
/*body { background: #1d1f23; margin:0; }*/
/*body.no-bg {*/
/*    background: none;*/
/*}*/

canvas {
    display:block;
    margin:auto;
    object-fit:contain;
    max-width:100vw;
    max-height:100vh;
}


.welcome{
    position:fixed; inset:0;
    display:flex; flex-direction:column;
    justify-content:center; align-items:center;
    opacity:0; pointer-events:none;
    transition:opacity .6s ease;
}
.welcome.show{ opacity:1; pointer-events:auto; }

.welcome h1{
    color:#fff; letter-spacing:1.3px; font-size:70px;
    font-family:"Momo Trust Display", system-ui, sans-serif;
    margin-bottom:20px;
}
.welcome p{
    color:#bfc3c9; font-size:30px; text-align:center;
    font-family:"Momo Trust Display", system-ui, sans-serif;
    margin-bottom:20px; letter-spacing:0; font-kerning:normal;
    -webkit-font-smoothing:antialiased;
}


.typing .char{ display:inline-block; opacity:0; transform:translateY(6px); filter:blur(3px); }
.typing .char.in{
    opacity:1; transform:translateY(0); filter:blur(0);
    transition: opacity .28s ease, transform .28s cubic-bezier(.2,.8,.2,1), filter .28s ease;
}
