
.notes-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.notes-nav .create {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: var(--glass);
    border: 1px solid var(--light-gray-color);
    border-radius: 25px;
    width: auto;
    height: 3vh;
    padding: 5px 10px;
    color: var(--silver);
    cursor: pointer;
    transition: all 0.5s ease;
}

.notes-nav .create .create-nav {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.notes-nav .create .create-nav {
    color: var(--white);
}

/*.notes-nav .create{*/
/*    width: 200px;*/
/*    border-radius: 15px;*/
/*    border: 1px solid var(--glass);*/
/*    overflow: hidden;*/
/*    background-color: var(--glass);*/
/*    box-shadow: var(--shadow);*/
/*}*/

/*.notes-nav .create .notes-to-create{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding-top: 10px;*/
/*    background-color: var(--light-gray-color);*/
/*    border-radius: 10px;*/
/*    z-index: 20;*/
/*}*/

/*.notes-nav .create .notes-to-create .select-to-create{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 45%;*/
/*    cursor: pointer;*/
/*}*/

/*.notes-nav .create .notes-to-create .important{*/

/*}*/

/*.notes-nav .create .notes-to-create .select-to-create p{*/
/*    font-size: 12px;*/
/*}*/


.notes-nav .create:hover {
    box-shadow: var(--shadow);
}

.notes-nav .filters {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.notes-nav .filters .validity,
.notes-nav .filters .date {
    position: relative;
}

.notes-nav .filters .validity .text-icon,
.notes-nav .filters .date .text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: var(--glass);
    border: 1px solid var(--light-gray-color);
    color: var(--gray);
    width: 80px;
    height: 3vh;
    padding: 3px 10px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    z-index: 20;
    transition: all 0.5s ease;
}

.notes-nav .filters .validity .text-icon:hover,
.notes-nav .filters .date .text-icon:hover {
    background-color: var(--transaperecy);
    border-color: var(--gray);
    scale: 1.04;
}


.notes-nav .filters .validity.show,
.notes-nav .filters .date.show {
    place-items: center;
    column-gap: 0px;
    background-color: var(--transaperecy);
    border: 1px solid var(--light-gray-color);
    width: 80px;
    padding: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.notes-nav .filters .filtered {
    display: flex;
    flex-direction: column;
    background-color: var(--transaperecy);
    border: 1px solid var(--light-gray-color);
    border-radius: 20px;
    text-align: left;
    position: absolute;
    padding: 10px;
    top: 0;
    z-index: -1;
    opacity: 0;
    height: 15px;
    transition: all 0.5s ease;
}

.notes-nav .filters .filtered.show {
    display: flex;
    flex-direction: column;
    background-color: rgba(39, 38, 38, 0.9);
    box-shadow: var(--shadow);
    border: 1px solid var(--light-gray-color);
    border-radius: 20px;
    text-align: left;
    position: absolute;
    padding: 10px;
    top: 0;
    z-index: 10;
    opacity: 1;
    height: 180px;
}

.notes-nav .filters .filtered p {
    color: var(--gray);
    transition: all 0.5s ease;
    transform: translateY(0px);
    margin: 5px 0;
    padding: 5px 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0;
}

.notes-nav .filters .filtered p.show {
    transform: translateY(20px);
    opacity: 1;
    z-index: 10;
}

.notes-nav .filters .filtered p:hover {
    color: var(--white);
}

.notes-keybinds {
    position: absolute;
    bottom: 0;
    right: -10px;
    background-color: var(--transaperecy);
    border: 1px solid var(--transaperecy);
    padding: 5px 25px;
    border-top-left-radius: 20px;

}

.notes-keybinds .binds {
    display: flex;
    flex-direction: column;
}

.notes-keybinds .binds .bind {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.notes-keybinds .binds .bind .key {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--glass);
    border: 1px solid var(--light-gray-color);
    width: 5%;
    height: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
}

.notes-keybinds .binds .bind p {
    color: var(--silver);
}

.notes-content {
    display: flex;
    align-items: start;
    column-gap: 20px;
}

.notes-content .notes-main {
    width: 75%;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.notes-content .notes-main .note {
    border: 1px solid var(--light-gray-color);
    background-color: var(--transaperecy);
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.notes-content .notes-main a:-webkit-any-link {
    width: 30%;
    padding: 3px 10px;
}

.notes-content .notes-main .note:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 24px rgba(255, 255, 255, 0.05),
    0 0 12px rgba(59, 130, 246, 0.25); /* легкое голубое свечение */
    border-color: rgba(255, 255, 255, 0.2);
}

.note .nav-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note .validity-note {
    width: 12px;
    height: 12px;
    border-radius: 50px;
}


.note .validity-note-red {
    background-color: red;
    box-shadow: 0px 1px 10px 0px red;
}

.note .validity-note-green {
    background-color: greenyellow;
    box-shadow: 0px 1px 10px 0px greenyellow;
}

.note .validity-note-gray {
    background-color: var(--gray);
    box-shadow: 0px 1px 10px 0px var(--gray);
}

.note .validity-note-blue {
    background-color: var(--more-blue);
    box-shadow: 0px 1px 10px 0px var(--more-blue);
}

.notes-content .notes-main .note h3 {
    color: var(--white);
    letter-spacing: 1px;
    margin-bottom: 0;
}

.notes-content .notes-main .note p {
    color: var(--silver);
    width: auto;
}

.note .info-note .tags {
    display: flex;
    column-gap: 10px;
}

.note .info-note .tag {
    color: var(--gray);
    border: 1px solid var(--light-gray-color);
    background-color: var(--glass);
    border-radius: 10px;
    width: auto;
    padding: 3px 10px;
    cursor: pointer;
}

.notes-content .notes-side {
    width: 25%;
}

.notes-content .notes-side .header {
    color: var(--light-gray-color);
    letter-spacing: 1px;
    margin-top: 0;
}

.notes-content .notes-side .side-note {
    border: 1px solid var(--light-gray-color);
    border-radius: 10px;
    padding: 2px 5px;
    background-color: var(--glass);
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 15px;
}

.notes-content .notes-side .side-note:hover {
    box-shadow: var(--shadow);
}

.notes-content .notes-side .side-note h3 {
    color: var(--white);
}

.notes-content .notes-side .side-note p {
    color: var(--silver);
}


















