
.change-pfp {
    position: absolute;
    border: 1px solid var(--light-gray-color);
    background-color: rgba(39, 38, 38, 0.9);
    border-radius: 15px;
    top: 30%;
    left: 30%;
    width: 300px;
    height: 25vh;
    padding: 20px;
}

.change-pfp .change-content {
    display: flex;
    column-gap: 10px;
    height: 15vh;
    margin-bottom: 20px;
}

.change-pfp .change-content .choose-pfp {
    border: 1px solid var(--light-gray-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    color: var(--silver);
    background-color: var(--glass);
    cursor: pointer;
}

.change-pfp .change-content .choose-pfp:hover p,
.change-pfp .change-content .choose-pfp:hover i {
    color: var(--white);
}

.change-pfp .change-content .choose-pfp p {
    margin: 0;
    font-size: 15px;
    width: auto;
    text-align: center;
    transition: all 0.5s ease;
}

.change-pfp .change-content .choose-pfp i {
    font-size: 20px;
    transition: all 0.5s ease;
}

.change-pfp .change-content .active-pfp {
    border: 1px solid var(--light-gray-color);
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--glass);
}

.change-pfp .change-content .active-pfp .user-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: auto;

}
.change-pfp .change-content .active-pfp .user-pfp img{
    width: 100%;
    height: 74px;
    border-radius: 100%;
    object-fit: cover;
}

.change-pfp .buttons {
    display: flex;
    column-gap: 10px;
    justify-content: end;
}

.change-pfp .buttons .cncl-btn {
    border: 1px solid var(--silver);
    border-radius: 20px;
    color: var(--white);
    background-color: var(--transaperecy);
    padding: 5px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.change-pfp .buttons .cncl-btn:hover {
    background-color: var(--glass);
}


.change-pfp .buttons .apply-btn {
    border: 1px solid var(--silver);
    border-radius: 20px;
    color: var(--white);
    background-color: var(--more-blue);
    padding: 5px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.change-pfp .buttons .apply-btn:hover {
    background-color: var(--blue);
}

.profile-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.profile-container .profile-header h2 {
    color: var(--white);
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.profile-container .profile-header p {
    color: var(--silver);
    letter-spacing: 0.6px;
}

.profile-container .profile-header hr {
    border-color: var(--gray);
    border-style: dashed;
}

.profile-container .user {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.profile-container .user .user-side-pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--light-gray-color);
    border-radius: 15px;
    width: 30%;
    padding: 10px;
}

.profile-container .user .user-side-pfp h2 {
    color: var(--white);
    margin-bottom: 2px;
}

.profile-container .user .user-side-pfp h4 {
    color: var(--silver);
    margin-top: 5px;
    margin-bottom: 20px;
}

.profile-container .user .user-side-pfp .user-pfp {
    border: 1px solid var(--white);
    padding: 100px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-container .user .user-side-pfp .user-pfp .edit {
    background-color: var(--main-background);
    border-radius: 100%;
    padding: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container .line-info .edit{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profile-container .line-info input{
    background-color: var(--transaperecy);
    border-radius: 10px;
    border: 1px solid var(--light-gray-color);
    padding: 5px;
    color: var(--white);
    margin-bottom: 5px;
}

.profile-container .line-info .edit .cancel-btn{
    border: 1px solid var(--silver);
    border-radius: 20px;
    color: var(--white);
    background-color: var(--transaperecy);
    padding: 5px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.profile-container .line-info .edit .cancel-btn:hover {
    background-color: var(--glass);
}

.profile-container .line-info .edit .save-btn{
    border: 1px solid var(--silver);
    border-radius: 20px;
    color: var(--white);
    background-color: var(--more-blue);
    padding: 5px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.profile-container .line-info .edit .save-btn:hover{
    background-color: var(--blue);
}

.profile-container .user .user-side-pfp .user-pfp .edit i {
    color: var(--white);
    font-size: 24px;
    transition: all 0.5s ease;
}

.profile-container .user .user-side-pfp .user-pfp:hover .edit {
    opacity: 1;
    padding: 99px;
    z-index: 5;
}


.profile-container .user .user-info {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray-color);
    border-radius: 15px;
    width: 70%;
    padding: 10px;

}

.profile-container .user .user-info h3 {
    color: var(--white);
    font-size: 17px;
    margin: auto 10px;
}

.profile-container .user .user-info .line-info {
    display: flex;
    column-gap: 10px;
    width: 95%;
    margin: 0 10px;
    border-bottom: 1px solid var(--light-gray-color);
    align-items: center;
}

.profile-container .user .user-info .line-info i {
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease;
}

.profile-container .user .user-info .line-info i:hover {
    scale: 1.1;
}

.profile-container .user .user-info .line-info div:nth-of-type(1) {
    width: 40%;
}

.profile-container .user .user-info .line-info div:nth-of-type(2) {
    width: 40%;
}

.profile-container .user .user-info .line-info h4 {
    color: var(--gray);
    text-align: left;
    margin-bottom: 10px;
}

.profile-container .user .user-info .line-info p {
    color: var(--white);
    text-align: left;
    margin-top: 2px;
}

.profile-container .social {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray-color);
    border-radius: 15px;
    padding: 15px;
}

.profile-container .social h4 {
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--white);
    letter-spacing: 0.6px;
}

.profile-container .social .socials {
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

.profile-container .social .socials i {
    border: 1px solid var(--light-gray-color);
    padding: 5px;
    border-radius: 100%;
    color: var(--white);
    background-color: var(--glass);
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-container .social .socials i:hover {
    background-color: var(--transaperecy);
    scale: 1.1;
}